:root {
  --main-4box-color: aliceblue; 
}


body {
  background: whitesmoke;
  font-size: 16px;
}

p {
  margin: 2px;
}

.App {
  position: relative;
  background: white;
  max-width: 1200px;
  border: 2px solid black;
  margin: auto;
  border-radius: 2px;
  height: 99vh;
  box-shadow: 1px 1px 2px gray;
}


.row1 {
  height: 30vh;
}

.coverPicContainer {
  height: 30vh;
  background: #BB6BD9;
  border-bottom: 1px solid black;
  box-shadow: 0px 1px 1px gray;
}

.coverPic {
  height: 30vh;
  width: 1200px;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

.row2 {
  height: 20vh;
  /* background: thistle; */
  /* border: 2px solid thistle; */
}

.profilePicContainer {
  display: inline-block;
  width: 150px;
  height: 150px;
  border: 2px dashed black;
  border-radius: 100px;
  vertical-align: middle;
  position: relative;
  top: -50px;
}

.profilePic {
  max-width: 100%;
}

.devNameAndCompany {
  display: inline-block;
  height: 100px;
  min-width: 500px;
  vertical-align: middle;
  padding: 2px 10px 2px 10px;
  font-size: 24px;
  /* background: red; */
}

.devName {
  line-height: 50px; /* to align text to the center of the box  */
  font-size: 36px;
  height: 50px;
  /* background: burlywood; */
}

.profileAndCompany {
  line-height: 50px; /* to align text to the center of the box  */
  height: 50px;
  /* background: beige; */
}

.row3 {
  height: 20vh;

  /* background: seagreen; */
}

.blockHeaders {
  font-size: 20px;
  margin-bottom: 12px;
  text-decoration: underline;
  color: darkred;
}

.educationDetails {
  display: inline-block;
  vertical-align: top;
  height: 20vh;
  width: 47%;
  /* margin: 2px; */
  margin-left: 1%;
  margin-right: 1%;
  padding: 2px;
  border: 1px solid blueviolet;
  box-sizing: border-box; /*Include padding and border in the element's total width and height: */
  background: var(--main-4box-color);
  box-shadow: 1px 1px 1px slateblue;
}

.skillDetails {
  display: inline-block;
  vertical-align: top;
  height: 20vh;
  width: 47%;
  /* margin: 2px; */
  margin-left: 1%;
  margin-right: 1%;
  padding: 2px;
  border: 1px solid blueviolet;
  box-sizing: border-box; /*Include padding and border in the element's total width and height: */
  background:  var(--main-4box-color);
  box-shadow: 1px 1px 1px slateblue;
}

.row4 {
  height: 29vh;
  /* background: lavender; */
}

.workExperience {
  display: inline-block;
  vertical-align: top;
  height: 27vh;
  width: 47%;
  margin: .5% 1% 0 1%;
  padding: 2px;
  border: 1px solid blueviolet;
  box-sizing: border-box; /*Include padding and border in the element's total width and height: */
  background:  var(--main-4box-color);
  box-shadow: 1px 1px 1px slateblue;
}

.otherWork {
  display: inline-block;
  vertical-align: top;
  height: 27vh;
  width: 47%;
  margin: .5% 1% 0 1%;
  padding: 2px;
  border: 1px solid blueviolet;
  box-sizing: border-box; /*Include padding and border in the element's total width and height: */
  background:  var(--main-4box-color); 
  box-shadow: 1px 1px 1px slateblue;
}

.loginArea {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}
